body,
html,
section {
  height: 100%
}

.btn-secondary {
  background: transparent;
}

.hover-target:hover i 
{
 color: #222 !important;
}

h1,h2,h3,h4,h5,h6
{
  font-weight:700;
  font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform:uppercase
}

.text-primary
{
  color: steelblue!important
}

.text-secondary
{
  color: white!important
}

.text-muted
{
  color: black!important
}

body
{
  overflow-x:hidden;
  font-family:'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #212529;
}

p
{
  line-height:1.75
}

footer
{
  padding:25px 0;
  text-align:center
}

footer span.copyright
{
  font-size:90%;
  line-height:40px;
  text-transform:none;
  font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform:uppercase
}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover
{
  background-color:steelblue
}

ul.social-buttons
{
  margin-bottom:0
}

ul.social-buttons li a
{
  font-size:20px;
  line-height:40px;
  display:block;
  width:40px;
  height:40px;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
  color:#fff;
  border-radius:100%;
  outline:0;
  background-color:#222
}

l.social-buttons
{
  margin-bottom:0
}

ul.social-buttons li a
{
  font-size:20px;
  line-height:40px;
  display:block;
  width:40px;
  height:40px;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
  color:#fff;
  border-radius:100%;
  outline:0;
  background-color:#222
}

.sample{
  display:none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  background-color: #343a40;
  color: white;
}

.dropdown-menu {
  background-color: #343a40;
  border: 1px #777 solid;
}

.dropdown-menu a {
  color: white;
}

.hidden {
  display: none;
}

.page{

}

section {
  padding-top: 3.5em;
  min-height: calc(100% - 3.5em);
  padding-bottom: 3.5em;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.btn-default{background:#DFC717; color:#fff; font-weight:700; text-shadow:1px 1px 0 rgba(0,0,0,0.2); font-size:14px;}
.card{box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;}
.card-01 .card-body{position:relative; padding-top:40px;}
.card-01 .badge-box{position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;}
.card-01 .badge-box i{background:#DFC717; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;}
.card-01.height-fix{height:455px; overflow:hidden;}
.card-01.height-fix .card-img-top{width:auto!imporat;}

.profile-box{background-size:cover; float:left; width:100%; text-align:center; padding:30px 0; position:relative; overflow:hidden;}
.profile-box:before{filter: blur(10px);background:url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat; background-size:cover; width:120%; position:absolute; content:""; height:120%; left:-10%;top:0;z-index:0;}
.profile-box img{width:170px; height:170px; position:relative; border:5px solid #fff;}
.social-box i {border:1px solid #DFC717; color:#DFC717; width:30px; height:30px; border-radius:50%;line-height:30px;}
.social-box i:hover{background:rgb(230, 204, 15); color:#fff;}
.social-box a{margin: 0 5px;}
.video-foreground{float:left;width:100%; height:500px;}

.card-01.height-fix .card-img-overlay{top:unset; color:#fff;
    background: -moz-linear-gradient(top, rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159',GradientType=0 );
}
.card-01.height-fix .fa{color: #fff;font-size: 22px;margin-right: 18px;};
